/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
    --background-color:#000028;
    --title-color:#DB00FF;
    --accent-color:#FF0070;
    --accent-tittle-color:#FF0070;
    --accent-pre-title-color:#000028;
    --outline-accent-color:#FF0070;
    --accent-paragraf-color:#F1B2CE;
    --accent-btn-hover-color:#FF0070;
    --background-image:url(../images/cover-image-dark.png);
    --header-decorate-item-variant:block;
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  position: relative;
}

