:root.theme-light {
  --background__image:url(../images/cover-image-light.png);
  --background-color:#FFEEF6;
  --title-color:#353430;
  --accent-color:#FF8DCB;
  --accent-tittle-color:#353430;
  --outline-accent-color:#353430;
  --accent-p-color:#353430;
}

@media (prefers-color-scheme: light) {
  :root {
  --background__image:url(../images/cover-image-light.png);
  --title-color:#353430;
  --background-color:#FFEEF6;
  --accent-color:#FF8DCB;
  --accent-tittle-color:#353430;
  --outline-accent-color:#353430;
  --accent-p-color:#353430;
  }
}

.theme-light .header__decorate__item {
  display: none;
}
