.page {
  background-image: var(--background-image);
  background-color: var(--background-color);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.title-color {
  background-color: var(--accent-color);
  color: var(--accent-pre-title-color);
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
  height: 100vh;
  min-height: 668px;
  position: relative;
}

.header__decorate__item {
  position: absolute;
  top: 11px;
  right: 10px;
  font-size: 18px;
  padding-right: 10px;
  color: var(--accent-color);
}

.header__decorate__item::after {
  content: "â—";
  color: #ff0070;
  text-shadow: 0px 0px 4px #ff0070;
  padding-left: 10px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--outline-accent-color);
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: 1px solid var(--accent-color);
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-left: none;
  border-bottom: none;
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-right: none;
  border-top: none;
}

.header__theme-menu {
  justify-self: end;
  align-items: center;
  align-self: center;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 1.5px 13px 4.5px 13px;
  text-transform: lowercase;
  text-align: center;
  line-height: 1;
  color: var(--accent-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__title,
.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--title-color);
  align-content: center;
  line-height: 82.5%;
}
.header h2 {
  display: block;
  font-size: 18px;
  line-height: 1.3;
  color: var(--accent-pre-title-color);
}

.header .grid-item:nth-child(3) {
  align-self: center;
  align-items: center;
}

.main {
  padding: 0 10px;
  margin-block-start: 40px;
}

.main__text_container {
  margin-block-end: 51px;
  display: grid;
}

.main__text_container h2 {
  color: var(--accent-tittle-color);
  font-size: 18px;
}

.main__text_container h3 {
  font-size: 18px;
  font-weight: 400;
}

.main__text_container h4 {
  font-size: 18px;
}

.main__text_container div {
  margin-block-start: 20px;
  display: block;
}

.main__text_container div p {
  margin-block-start: 10px;
  line-height: 1.3;
  font-size: 18px;
  color: var(--accent-paragraf-color);
}

.main__text_container .accent-font-collor {
  color: var(--accent-pre-title-color);
  margin-block-start: 22px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-block-end: 40px;
}

.gallery img {
  display: block;
  width: 100%;
}

.gallery h2 {
  font-size: 18px;
  font-weight: bold;
  color: var(--accent-pre-title-color);
}

.footer {
  display: grid;
  position: relative;
  height: 100vh;
  min-height: 668px;
}

.footer h2 {
  margin-block-start: 30px;
  margin-block-end: 10px;
  text-align: center;
}

@media (width >= 768px) {
  .header {
      grid-template-columns: 1fr 1fr;
      height: 100vh;
      padding: 0 20px 0 0;
  }

  .header__theme-menu-list {
      margin-block-start: 23px;
  }

  .header h2 {
      margin: 0 0 20px 10px;
  }

  .header__decorate__item {
      top: 21px;
      right: 18px;
  }

  .decorated-zone::before {
      top: 20px;
      right: 20px;
  }

  .decorated-zone::after {
      bottom: 20px;
      left: 20px;
  }

  .header .grid-item:nth-child(1) {
      grid-column: 1 / span 2;
      grid-row: 1;
  }

  .header .grid-item:nth-child(2) {
      grid-column: 1 / span 2;
      grid-row: 2;
  }

  .header .grid-item:nth-child(3) {
      grid-column: 2;
      grid-row: 3;
  }

  .main {
      padding: 0 20px;
      margin-block-start: 60px;
  }

  .main__text_container {
      margin-block-end: 80px;
  }
  .text__section__why {
      grid-template-columns: 1fr 2fr;
      overflow-wrap: break-word;
      gap: 20px;
  }

  .main__text_container div {
      margin-block-start: 0;
  }

  .text__section__why .grid-item:nth-child(3) {
      grid-column: 2;
  }

  .text__section_what {
      gap: 20px;
  }
  .text__section_what .grid-item:nth-child(1) {
      inline-size: 236px;
  }

  .text__section__how {
      grid-template-columns: 1fr 2fr;
      grid-template-rows: repeat(6, min-content);
      gap: 20px;
  }

  .text__section__how .grid-item:nth-child(1) {
      grid-row: 1/7;
  }

  .main__text_container .accent-font-collor {
      margin-block-start: 4px;
  }

  .gallery {
      grid-template-columns: repeat(3, 1fr);
      grid-auto-flow: dense;
      gap: 20px;
      margin-block-end: 62px;
  }

  .gallery__image {
      inline-size: 100%;
      block-size: 100%;
      max-block-size: 100%;
      object-fit: cover;
  }

  .gallery .grid-item:nth-child(1) {
      grid-column: 1/4;
  }

  .gallery .grid-item:nth-child(2) {
      grid-row: 2;
      grid-column: 1 / span 2;
  }

  .gallery .grid-item:nth-child(3) {
      grid-column: 3;
      grid-row: 2 / span 2;
  }

  .gallery .grid-item:nth-child(4) {
      grid-column: 1;
      grid-row: 3 / span 2;
  }

  .gallery .grid-item:nth-child(5) {
      grid-row: 3;
      grid-column: 2;
  }

  .gallery .grid-item:nth-child(6) {
      grid-column: 2 / span 2;
      grid-row: 4;
  }

  .footer__title {
      margin-block-start: 180px;
  }
}

@media (width >= 1024px) {
  .header__title,
  .footer__title {
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .header__theme-menu {
      justify-self: center;
      align-self: flex-start;
      margin-left: 16px;
  }

  .header__theme-menu-list {
      flex-direction: row;
  }

  .text__section_what {
      grid-template-rows: min-content 1fr;
      grid-template-columns: repeat(3, 315px);
  }
  .text__section_what .grid-item:nth-child(1) {
      grid-column: 1 / div 3;
      inline-size: 315px;
  }
}
