/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --accent-tittle-color: #ff0070;
  --accent-button-color: #ff0070;
  --accent-pre-title-color: #000028;
  --outline-accent-color: #ff0070;
  --accent-paragraf-color: #f1b2ce;
  --accent-btn-hover-color: #ff007066;
  --accent-btn-focus-color: #ff0070;
  --header-decorate-item-variant: block;
  --font-weight-variant1: regular;
  --font-weight-variant2: bold;
  --accemt-decorate-zone-color: #ff0070;
  --accent-hover-href-color: #f1b2ce;
  --accent-focus-href-color: #f1b2ce;
}
